{{ define "main" }}
<div id="single_page_content">
  <h1 class="post_title">
    <a href="{{.URL}}">{{.Title}}</a>
  </h1>
  <hr/>

  {{ partial "post_meta" . }}


  {{ if eq .Params.toc true }}

  {{with .TableOfContents }}
  <div class="toc">
    <h2>
      Table of Contents
      <span id="toc_toggle_span">[hide]</span>
    </h2>
    <div id='toc_content'>
      {{ . }}
    </div>
    <!-- /#top-content -->
  </div>
  {{end}}

  {{end}}

  <div class='article mt-4 single'>
    {{.Content}}
  </div>

<div id='next_previous_swiper_content'>


    {{if .Params.tutorial_tags }}
      <div class='tags py-3'>
        Tags: {{ range .Params.tutorial_tags }}
          <a href="{{$.Site.BaseURL}}tutorial_tags/{{ . | urlize }}">
            {{ . }}
          </a>
        {{ end }}

      </div>
    {{end}}
    <!-- /.tags -->
     {{if .Params.bit_tags }}
      <div class='tags py-3'>
        Tags: {{ range .Params.bit_tags }}
          <a href="{{$.Site.BaseURL}}bit_tags/{{ . | urlize }}">
            {{ . }}
          </a>
        {{ end }}

      </div>
    {{end}}
    <!-- /.tags -->

    <div class="text-center py-3">
      {{ if .PrevInSection }}
        <a id="previous_post_link" class="btn btn-info" href="{{.PrevInSection.Permalink}}">Previous Post</a>
      {{ end }}
      {{ if .NextInSection }}
        <a id="next_post_link" class="btn btn-info" href="{{.NextInSection.Permalink}}">Next Post</a>
      {{ end }}
    </div>


  </div>

</div>
{{partial "related_content" .}}


{{ partial "comments" . }}
<progress value="0" id="progressBar">
  <div class="progress-container">
    <span class="progress-bar"></span>
  </div>
</progress>
{{ end }}
