// forked from aligator
:root {
  --bg3: #fcfcfc;
  --yellow1: #EFBB35;
  --green1: #008f68;
  --green2: #6DB65B;
  --code: #dc3958;
  --code-text: #6C7757;
  --code-comment: #9AA880;
}
 .root2 {
  --bg: #fff;
  --bg2: #fafafa;
  --bg4: #f8f8f8;
  --footer-bg: rgba(114, 186, 94, .15);
  --text-color: #555;
  --pale-text: #999;
  --info-box-text: #84613d;
  --gs0: #eee;
  --gs1: #CCC;
  --gs2: #AAA;
  --green1: #008f68;
  --green2: #6DB65B;
  --green3: #4AAE9B;
  --yellow2: #dfa612;
  --yellow3: #FAE042;
  --subtle: rgba(0, 0, 0, .1);
  --very-subtle: rgba(0, 0, 0, .05);
  --top1: rgba(107, 183, 86, .95);
  --top2: rgba(0, 143, 104, .95);
  --subtle-green1: rgba(114, 186, 94, 0.55);
  --subtle-green2: rgba(114, 186, 94, 0.05);
  --subtle-yellow1: rgba(239, 187, 53, 0.6);
  --subtle-yellow2: rgba(236, 198, 48, .1);
  --subtle-yellow3: rgba(236, 198, 48, .3);
  --fb: #3b5998;
  --reddit: #FC471E;
  --h-news: #F60;
  --twitter: #00aced;
  --cat-head: rgba(114, 186, 94, 0.1);
  --front-text-color: #93a791;
  --info-box-bg: rgba(255, 213, 70, 0.1);
}

body {
	color: #000;
  font-size: 18px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
img {
	max-width: 100%;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18;
}
.center {
	max-width: 1350px;
	padding: 0 12px;
	margin: 0 auto;
}
a {
	color: cadetblue;
	&:hover {
		color: darken(cadetblue, 10%);
	}
}

.search_result_box {
	position: relative;
	#search_result {
		position: absolute;
		top: 100%;
		width: 200px;
		box-sizing: border-box;
		z-index: 1;
		// display: none;
		border: 1px solid #eee;
		background: cadetblue;
		border-radius: 4px;
		box-shadow: 0 1px 6px rgba(0,0,0,0.03);
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			border-bottom: 1px solid #eee;
			padding: 5px;
			list-style: none;
			margin: 0;
		}
		a {
			color: #fff;
			display: block;
		}
	}
}

pre {
  position: relative;
}
.copy-button {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  color: var(--green1);
  border: 1px solid var(--green2);
  cursor: pointer;
  @media screen and (max-width: 600px){
    display: none;
  }
}
.copy-button:hover {
  background-color: var(--green1);
  color: white;
}

.meta {
  color: #777;
  a {
    color: inherit;
    &:hover {
      color: cadetblue;
    }
  }
  span {
    display: inline-block;
    margin: 5px;
  }
}

.tags {
  a {
    border: none;
    color: rgba(0,0,0,.68);
    background: rgba(0,0,0,.05);
    font-weight: 400;
    border-radius: 3px;
    padding: 0 10px;
    margin-right: 8px;
    margin-bottom: 6px;
    display: inline-block;
  }
}


#open_editor_from_footer {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  opacity: .6;
  background: teal;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
