// started highlight css
.single {


.hljs-comment,
.hljs-quote {
    color: var(--code-comment)
}

.hljs-meta,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: var(--code)
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-deletion,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-type {
    color: var(--yellow1)
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
    color: var(--green1)
}

.hljs-function,
.hljs-keyword,
.hljs-selector-tag {
    color: var(--green2)
}

.hljs,
.nohighlight {
    display: block;
    /*overflow-x: auto;*/
    color: var(--code-text);
    /*padding: .9em .5em*/
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background: transparent;
}


.file-desc,
time[datetime],
code,
code.highlighter-rouge,
.breadcrumbs>*,
span.author,
.related-posts h4,
.related-posts .front-teaser,
.subfooter,
blockquote p,
.post-meta,
footer a {
    // font-family: "IBM Plex Mono", 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace
    font-family: Monaco, Menlo, Consolas, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, "Courier New", monospace;
}
code {
  // color: var(--code);
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: pre-wrap;
}
img,
pre {
    border-radius: 3px
}
code[class*=language-],
pre[class*=language-] {
  background: 0 0;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

/*pre[class*=language-] {
  padding: 1em;
  margin: 1.5em 0;
  overflow: auto
}
*/
pre {
    background: var(--bg3);
    padding: 5px 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.08), 0px 0px 4px rgba(0,0,0,0.05);
}
code[class*=language-] {
    max-height: 700px;
    overflow: auto;
}
:not(pre)>code[class*=language-],
pre[class*=language-] {
  background: var(--bg3)
}

:not(pre)>code[class*=language-] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal
}

}
